In [1]:
import pingouin as pg

In [2]:
data = pg.read_dataset('icc')
data.head()

   Wine Judge  Scores
0     1     A       1
1     2     A       1
2     3     A       3
3     4     A       6
4     5     A       6

In [3]:
icc = pg.intraclass_corr(data=data, targets='Wine', raters='Judge',
                         ratings='Scores').round(3)
icc.set_index("Type")

                   Description    ICC       F  df1  df2  pval         CI95%
Type
ICC1    Single raters absolute  0.728  11.680    7   24   0.0  [0.43, 0.93]
ICC2      Single random raters  0.728  11.787    7   21   0.0  [0.43, 0.93]
ICC3       Single fixed raters  0.729  11.787    7   21   0.0  [0.43, 0.93]
ICC1k  Average raters absolute  0.914  11.680    7   24   0.0  [0.75, 0.98]
ICC2k    Average random raters  0.914  11.787    7   21   0.0  [0.75, 0.98]
ICC3k     Average fixed raters  0.915  11.787    7   21   0.0  [0.75, 0.98]